alias e.zsh='subl ~/.zshrc'
alias e.alias='subl ~/.aliases'
alias e.git='subl ~/.gitconfig'
alias c='code .'
alias s='subl .'
alias out='cd ../'

alias in='cd '
alias in.g='cd ~/Desktop/scs_stuff/Back/scs_nykzh_gears'
alias in.vb='cd ~/Desktop/scs_stuff/Back/scs_vits/backend'
alias in.vb.s='cd ~/Desktop/scs_stuff/Back/scs_vits/backend;r.s.v'
alias in.vf='cd ~/Desktop/scs_stuff/Back/scs_vits/frontend'
alias in.vf.s='cd ~/Desktop/scs_stuff/Back/scs_vits/frontend;n.s'

alias rsp='bundle exec rails s -p '
alias rdbc='bin/rake db:create'
alias rdbre='bin/rake db:reset'
alias rdsetup='bin/rake db:setup'
alias rdbd='bin/rake db:drop'
alias r.db.m='bin/rake db:migrate'
alias rdbs='bin/rake db:seed'
alias rdbr='bin/rake db:rollback'
alias r.j.w='bin/rake jobs:work'
alias rgc='bin/rails g controller '
alias rgm='bin/rails g model '
alias rgs='bin/rails g scalfold '
alias rgmi='bin/rails g migration '
alias r.g='bin/rails g '
alias rnotes='bin/rake notes'
alias r.c='bundle exec rails c'
alias br='bin/rake '
alias brails='bin/rails '
alias rdb='bin/rails db'
alias r.s.g='open "http://gears.zh.scs:3001";s;bundle exec rails s -e development -b 0.0.0.0 -p 3001'
alias r.s.v='bundle exec rails s -e development -b 0.0.0.0 -p 3000'
alias p.c='psql -U postgres'
alias pgi='pg_restore --verbose --clean --no-acl --no-owner -h localhost -U postgres -d '

alias n.s='fnm use; npm start'
alias n.r.p='fnm use; npm run prod'
